ion-avatar img  {
    width:70% !important;
    height : 70% !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
    }

.tag {
    font-size: 14px;
}

#iconCheckmark {
    font-size: 25px; 
}

#iconEdit {
    font-size: 25px; 
}

#iconAdd {
    font-size: 25px; 
}