<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Planung</ion-title>

    <ion-buttons end>
      <button  ion-button *ngIf="!reorderIsEnabled" (click)="toggleReorder()">Edit</button>
      <button  ion-button *ngIf="reorderIsEnabled" (click)="toggleReorder()">Done</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3>Protokoll</h3>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/rasta.png">
      </ion-avatar>
      <h2>Manfred</h2>
      <p>Uh, I am gay</p>
    </ion-item>
  </ion-list>

  <h3>Planung</h3>

  <ion-list [reorder]="reorderIsEnabled">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/rasta.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/girl.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/blacky.png">
      </ion-avatar>
    </ion-item>
  </ion-list>

  ...

</ion-content>
