<div *ngIf="showSplash" class="splash">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>


<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->

<ion-menu [content]="content" id="menu1">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Race Manager</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="my-container">
    <ion-list class="transp">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{ p.name }} {{ p.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
