<ion-header>
  <!-- header if called as modal -->
  <ion-navbar color="primary" *ngIf="mode === 'new'">
    <ion-title>Neues Teammitglied</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="cancelCreationModal()" *ngIf="allowCancel === true">Abbrechen</button>
    </ion-buttons>
  </ion-navbar>

  <!-- Header if the page is called from the team overview -->
  <ion-navbar color="dark-grey" *ngIf="mode === 'edit'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bearbeiten</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleMode()">
        <ion-icon name="create" *ngIf="changeMode === false"></ion-icon>
        <ion-icon name="checkmark" *ngIf="changeMode === true"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label fixed class="text-color">Name</ion-label>
      <ion-input type="text" [(ngModel)]="editMember.name" *ngIf="changeMode === true"></ion-input>
      <ion-label item-end *ngIf="changeMode === false" class="text-color">{{editMember.name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-grid class="grid-carousel">
        <ion-row>
          <ion-col class="grid-carousel-label">Farbe</ion-col>
          <ion-col col-2>
            <button ion-button clear small icon-only (click)="colorBackward()" *ngIf="changeMode === true">
              <ion-icon name="arrow-back" ></ion-icon>
            </button>
          </ion-col>
          <ion-col [style.background-color]="colorDefinitions[editMember.color]"></ion-col>
          <ion-col col-2 class="grid-carousel-forward" >
            <button ion-button clear small icon-only (click)="colorForward()" *ngIf="changeMode === true">
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid class="grid-carousel">
        <ion-row>
          <ion-col class="grid-carousel-label">Avatar</ion-col>
          <ion-col col-2>
            <button ion-button icon-only clear small (click)="avatarBackward()" *ngIf="changeMode === true">
              <ion-icon name="arrow-back" ></ion-icon>
            </button>
          </ion-col>
          <ion-col><img src="assets/imgs/ava-{{editMember.avatarNo}}.png" /></ion-col>
          <ion-col col-2 class="grid-carousel-forward">
            <button ion-button icon-only clear small (click)="avatarForward()" *ngIf="changeMode === true">
              <ion-icon name="arrow-forward" ></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label>Fahrer</ion-label>
      <ion-checkbox *ngIf="changeMode === false" disabled="true" [ngModel]="editMember.driver"></ion-checkbox>
      <ion-checkbox *ngIf="changeMode === true" [ngModel]="editMember.driver" (ionChange)="isDriverChanged()"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="editMember.driver === true && editMember.connectedViaDevice === true">
      <ion-label fixed>Info-Zeitpunkt</ion-label>
      <ion-select [ngModel]="editMember.minutesBeforeNotification" [disabled]="changeMode === false" interface="action-sheet">
        <ion-option value="30">+ 30 min</ion-option>
        <ion-option value="40">+ 40 min</ion-option>
        <ion-option value="50">+ 50 min</ion-option>
        <ion-option value="60">+ 60 min</ion-option>
        <ion-option value="70">+ 70 min</ion-option>
        <ion-option value="80">+ 80 min</ion-option>
        <ion-option value="90">+ 90 min</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="editMember.driver === true && editMember.connectedViaDevice === false">
      <p id="unconnectedDriverNote" text-wrap>Fahrer nicht mit Telefon verbunden. Keine Fahrer Benachrichtigung möglich.</p>
    </ion-item>

    <ion-item *ngIf="mode === 'new'">
      <button ion-button full (click)="savePerson()">Speichern</button>
    </ion-item>

  </ion-list>

</ion-content>
