page-member-mgmt {

}

#driver-color-col {
  background-color: #f53d3d;
}

.text-color {
 color: #999;
}

.grid-carousel, .grid-carousel-label {
  margin: 0;
  padding: 0;
  color: #999;
}

.grid-carousel ion-row ion-col {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle !important;
}

.grid-carousel-forward {
  margin-left: 5px;
}
