<ion-header>
  <ion-navbar color="dark-grey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teamverwaltung</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>Fahrer</ion-list-header>

    <ion-item *ngFor="let driver of allDrivers" (click)="navToPersonMgmt(driver)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/avatar/ava-{{driver.avatarNo}}.png" >
      </ion-avatar>
      <h1>{{driver.name}}</h1>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Management</ion-list-header>

    <ion-item *ngFor="let manager of allManagements" (click)="navToPersonMgmt(manager)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/avatar/ava-{{manager.avatarNo}}.png">
      </ion-avatar>
      <h1>{{manager.name}}</h1>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="red" (click)="addTeamMember()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
